/* Bone Structure */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

:root
{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}

html
{
    font-size: 62.5%;
}

body
{
    background: var(--bg-color);
    color: var(--text-color);

}

section
{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

span
{
    color: var(--main-color);
}

a
{
    text-decoration: none;
}

h2
{
    font-size: 2.6rem;
}


/* Heading for other html */
.heading
{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

/* For Headers */
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky
{
    background: var(--bg-color);
}

/* For section 'shashank@coding ~ $' */
.logo
{
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600; 
}

.logo::before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: .4s
}
.logo-color
{
    position: relative;
    font-size: 25px;
    color: var(--main-color);
    text-decoration: none;
    font-weight: 600; 
}

.logo-color::before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: 0.7s
}

/* For small devices such as mobile phones */
#menu-icon
{
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}
.navbar
{
    position: relative;

}
.navbar a
{
    font-size: 1.7rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500; 
    margin-left: 3.5rem;
    transition: .4s;
}
.navbar a::before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: .4s
}
.navbar a:hover
{
    color: var(--bg-color);
}

.navbar a.active
{
    color: var(--main-color);
}

.navbar.active
{
    left: 0;
    transition-delay: 0s;
}

.navbar .active-nav
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0,0,0,.2);
    z-index: -1;
    transition: 25s ease;
    transition-delay: 0s;
}

.navbar.active .active-nav
{
    left: 0;
    transition-delay: .25s;
}

/* For Hoverable and Clickable Buttons */
.btn-box a
{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover
{
    color:var(--main-color);
}

.btn-box a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover:before
{
    width: 100%;

}

.btn-box.btns
{
    display: inline-flex;
    width: 15rem;
    justify-content: center;
    align-items: center;
}

.btn-box.btns a::before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.btn-box.btns button::before
{
    background: var(--second-bg-color);
}

/* Footer Section */
.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p
{
    font-size: 1.6rem;
}

/* Breakpoints */
@media (max-width: 1200px)
{
    html{
        font-size: 55%;
    }
    .logo-color
    {
        font-size: 22px;
    }
}

@media (max-width: 991px)
{
    .header{
        padding: 2rem 4%;
    }

    .logo-color
    {
        font-size: 20px;
    }

    section{
        padding: 10rem 4% 2rem;
    }

    .home{
        padding: 0 4%;
    }

    .footer
    {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px)
{
    .header
    {
        background: var(--bg-color);
    }

    #menu-icon
    {
        display: block;
    }

    .navbar
    {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    
    .navbar a
    {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;

    }

    .home-ImgHover
    {
        pointer-events: none;
    }
}

@media (max-width: 520px)
{
    html
    {
        font-size: 50%;
    }

    .home-content h1
    {
        display: flex;
        flex-direction: column;
    }

    .home-sci
    {
        width: 160px;
    }

    .home-sci a
    {
        width: 38px;
        height: 38px;
    }

   
}

@media (max-width: 462px)
{
    .home-content h1
    {
        font-size: 5.2rem;
    }

    .education
    {
        padding: 10rem 4% 5rem 5%;
    }

    .contact form .input-box .input-field
    {
        width: 100%;
    }

    .footer
    {
        flex-direction: column-reverse;
    }

    .footer p
    {
        margin-top: 2rem;
        text-align: center;
    }

    
}

@media (max-width: 371px)
{
    .home
    {
        justify-content: center;
    }

    .home-content
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1
    {
        font-size: 5rem;
    }
    
}


/* KeyFrame Animation */
@keyframes showRight
{
    100%,50%,60%,70%,80%,90%
    {
        width: 0;
    }
}

@keyframes manipActiveHover
{
    100%,50%,60%,70%,80%,90%
    {
        pointer-events: auto;
    }
}

@keyframes aboutSpinner {
    100%,50%,60%,70%,80%,90%
    {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}


/* Animation */

.animate
{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: yellowgreen;
    z-index: 98;
}