@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P",sans-serif;
}

.ascii-container .text
{
    display: flex;
    margin-left: 15vw;
    padding-bottom: 50px;
}

::-webkit-scrollbar
{
    width: 0;
    height: 0;
}
  
html
{
    background: black;
    color: white;
    overflow:hidden;
}

.terminal-container
{
    margin-left: 5vh;
    font-size: 1.2vw;
    width: 100vw;
}

.terminal-container #input-container
{
    display: flex;
    align-items: baseline;

}

#loading-screen 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#loading-screen p
{
    margin-left: -50vw;
}

#progress-bar-container {
    width: 70%;
    height: 60px;
    border: dashed 2px #f0f0f0;
    /* border-radius: 10px; */
}

#progress-bar {
    margin-top: 2px;
    margin-left: 2px;
    width: 0;
    height: 100%;
    background-color: #fff;
    /* border-radius: 10px; */
    animation: fill-progress 3s linear ; /* Adjust the duration as needed */
}

input
{
    /* margin-top: -10vh; */
    /* height: 30px; */
    padding-left: 10px;
    border: none;
    background: none;
    outline: none;
    background-color: black;
    color: white;
}

.unknown
{
    width: 80%;
    padding: 5% 5%;
}

input.blinking
{
    animation: blink 1s infinite;
}

.name
{
    color: #4399ea;
}

.separator
{
    color: #fff800;
}

.code
{
    color: #2cc5df;
}

.route
{
    color: #ffba00;
}

.output-container p,
.output-container img,
.output-container h3,
.output-container h5,
.output-container b
{
    animation: typing 0.5s steps(30, end)
}

.input-container,
.prompt,
input
{
    animation: show 1.5s ease forwards;
}

.info-text
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15vh;
    width: 50%;
    margin-left: 23vw;
}
.about-text
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin-top: -20vh;
    margin-left: 23vw;
}

.ascii-container
{
   display: absolute;
   padding-left: 20vh;
}

.ascii-art 
{
    font-family: monospace;
    white-space: pre;
    font-size: 1.3vw;
}

.command-help
{
    text-shadow: 0 0 5px #f0f0f0 
}

.socials,
.contact
{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.socials p,
.contact p
{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

i
{
    font-size: 2vw;
}

.bxl-github
{
    margin-right: -23.2vw;
}

.bxl-linkedin-square
{
    margin-right: -25vw;
}
.bxl-youtube
{
    margin-right: -24.5vw;
}

.help
{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

@keyframes fill-progress {
    0% 
    {
        width: 0%;
    }
    
    25% 
    {
        width: 25%;
    }

    40% 
    {
        width: 40%;
    }

    75% 
    {
        width: 75%;
    }

    100% 
    {
        width: 100%;
    }
}

@keyframes blink {
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes typing 
{
    from 
    {
        width: 0;
    }
    to 
    {
        width: 100%;
    }
}

/*  */



@media only screen and (width:1440px), (height:900px) 
{
    #loading-screen 
    {
        margin-top: 0vh;
        margin-left: 0vw;
    }

    #loading-screen p
    {
        margin-left: 10vw;
    }

    #progress-bar-container
    {
        width: 40%;
        margin-left: 0vw;

    }
    .ascii-container
    {
        margin-left: 0vw;
    }

    .ascii-container .text
    {
        display: flex;
        margin-left: 15vw;
        padding-bottom: 50px;
    }
    .ascii-container .text .command-help
    {
        padding: 0 4px;
    }

    .about,
    .info
    {
        margin-top: 0vw;
    }

    .about img
    {
        width: 25vw;
    }

    .info img
    {
        /* padding-top: 10vh; */
        width: 20vw;
    }
    .about-text
    {
        width: 56%;
        margin-top: -30vh;
        margin-left: 34vw;
        line-height: 1.5;
    }
    .info-text
    {
        width: 65%;
        margin-left: 26vw;
        line-height: 1.5;
        margin-top: -18vh;
    }
    
    .socials,
    .contact
    {
        width: 80%;
    }
}

@media only screen and (height:1280px) , (width:950px)
{
    #loading-screen 
    {
        margin-top: 0vh;
        margin-left: 0vw;
    }

    #loading-screen p
    {
        margin-left: -40vw;
    }

    #progress-bar-container
    {
        width: 40%;
        margin-left: -40vw;

    }
    .ascii-container
    {
        margin-left: 0vw;
    }

    .ascii-container .text
    {
        display: flex;
        margin-left: 15vw;
        padding-bottom: 50px;
    }
    .ascii-container .text .command-help
    {
        padding: 0 4px;
    }

    .about,
    .info
    {
        margin-top: 0vw;
    }

    .about img
    {
        width: 25vw;
    }

    .about-text
    {
        width: 56%;
        margin-top: -25vh;
        margin-left: 34vw;
        line-height: 1.5;
    }
    .info-text
    {
        width: 65%;
        margin-left: 26vw;
        line-height: 1.5;
        margin-top: -14vh;
    }
    .ascii-container
    {
        margin-left: 0vw;
    }

    .ascii-container .text
    {
        display: flex;
        margin-left: 15vw;
        padding-bottom: 50px;
    }
    .ascii-container .text .command-help
    {
        padding: 0 4px;
    }

    .about,
    .info
    {
        margin-top: 0vw;
    }

    .about img
    {
        width: 25vw;
    }

    .info img
    {
        /* padding-top: 10vh; */
        width: 20vw;
    }
    
    
    .socials,
    .contact
    {
        width: 80%;
    }
}

@media only screen and (width:820px) , (height:1180px) 
{
    #loading-screen 
    {
        margin-top: -50vh;
        margin-left: 0vw;
    }

    #progress-bar-container
    {
        width: 40%;
        margin-left: -35vw;

    }
    .ascii-container
    {
        margin-left: -20vw;
    }

    .ascii-container .text
    {
        display: flex;
        margin-left: 15vw;
        /* font-size: 2vw; */
        padding-bottom: 50px;
    }
    .ascii-container .text .command-help
    {
        padding: 0 4px;
    }

    .about,
    .info
    {
        margin-top: 0vw;
    }

    .about-text,
    .info-text
    {
        width: 65%;
        margin-top: -12vh;
        margin-left: 26vw;
        line-height: 1.5;
    }
    .info-text
    {
        margin-top: -8vh;
    }
    .socials,
    .contact
    {
        width: 80%;
    }
}

@media only screen and (width:800px) , (height:1280px) 
{
    #loading-screen 
    {
        margin-top: -50vh;
        margin-left: 0vw;
    }

    #progress-bar-container
    {
        width: 40%;
        margin-left: -35vw;

    }
    .ascii-container
    {
        margin-left: -20vw;
    }

    .ascii-container .text
    {
        display: flex;
        margin-left: 15vw;
        padding-bottom: 50px;
    }
    .ascii-container .text .command-help
    {
        padding: 0 4px;
    }

    .about,
    .info
    {
        margin-top: 0vw;
    }

    .about-text,
    .info-text
    {
        line-height: 1.5;
        width: 57%;
        margin-top: -12vh;
        margin-left: 33vw;
    }
    .info-text
    {
        margin-top: -8vh;
    }
    .socials,
    .contact
    {
        width: 80%;
    }
}



@media only screen and (width:428px) , (height:926px) 
{
    ::-webkit-scrollbar
    {
        width: 0;
        height: 0;
    }
    .ascii-container
    {
        margin-left: -47vw;
    }
    .ascii-container .text
    {
        display: flex;
        margin-left: 15vw;
        font-size: 2vw;
        padding-bottom: 50px;
    }
    .ascii-container .text .command-help
    {
        padding: 0 4px;
    }

    
    .ascii-art
    {
        font-size: 2vw;
    }
    .terminal-container
    {
        font-size: 2vw;
    }

    #loading-screen 
    {
        margin-top: -50vh;
        margin-left: -25vw;
    }

    #progress-bar-container
    {
        width: 40%;
        margin-left: -35vw;

    }
    input
    {
        font-size: 2vw;
    }
    .about,.info
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: -40vw;
        margin-top: 0vw;
    }

    .about-text,.info-text
    {
        margin-top: 3vh;
        width: 60%;
    }
  

    .help p b 
    {
        padding: 3px 10px;
    }
    .projects
    {
        width: 70%;
    }

    .socials,
    .contact
    {
        width: 80%;
    }
    .socials .command-help,
    .contact .command-help
    {
        padding-right: 30px;
    }

}




@media only screen and (width:414px) , (height:896px) 
{
    ::-webkit-scrollbar
    {
        width: 0;
        height: 0;
    }
    .ascii-container
    {
        margin-left: -47vw;
    }
    .ascii-container .text
    {
        display: flex;
        margin-left: 15vw;
        font-size: 2vw;
        padding-bottom: 50px;
    }
    .ascii-container .text .command-help
    {
        padding: 0 4px;
    }

    
    .ascii-art
    {
        font-size: 2vw;
    }
    .terminal-container
    {
        font-size: 2vw;
    }

    #loading-screen 
    {
        margin-top: -50vh;
        margin-left: -25vw;
    }

    #progress-bar-container
    {
        width: 40%;
        margin-left: -35vw;

    }
    input
    {
        font-size: 2vw;
    }
    .about,.info
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: -40vw;
        margin-top: 0vw;
    }

    /* .info-text
    {
        margin-left: 5vw;
    } */

    .about-text,.info-text
    {
        margin-top: 3vh;
        width: 60%;
    }
  

    .help p b 
    {
        padding: 3px 10px;
    }
    .projects
    {
        width: 70%;
    }

    .socials,
    .contact
    {
        width: 80%;
    }
    .socials .command-help,
    .contact .command-help
    {
        padding-right: 30px;
    }

}

@media only screen and (height:410px) , (width:732px) 
{
    .ascii-container
    {
        margin-left: -45vw;
    }
    .ascii-container .text
    {
        display: flex;
        margin-left: 15vw;
        font-size: 2vw;
        padding-bottom: 50px;
    }
    .ascii-container .text .command-help
    {
        padding: 0 4px;
    }

    
    .ascii-art
    {
        font-size: 2vw;
    }
    .terminal-container
    {
        font-size: 2vw;
    }

    #loading-screen 
    {
        margin-top: -50vh;
        margin-left: -25vw;
    }

    #progress-bar-container
    {
        width: 40%;
        margin-left: -35vw;

    }
    input
    {
        font-size: 2vw;
    }
    .about,.info
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: -36vw;
        margin-top: 0vw;
    }

    .info-text
    {
        margin-left: 5vw;
    }

    .about-text,.info-text
    {
        margin-top: 3vh;
    }
  

    .help p b 
    {
        padding: 3px 10px;
    }
    .projects
    {
        width: 70%;
    }

    .socials,
    .contact
    {
        width: 80%;
    }
    .socials .command-help,
    .contact .command-help
    {
        padding-right: 30px;
    }

}


@media only screen and (height:390px) , (max-height:400px), (width:844px) , (max-width:851px)
{
    .ascii-container
    {
        margin-left: -45vw;
    }
    .ascii-container .text
    {
        display: flex;
        margin-left: 15vw;
        font-size: 2vw;
        padding-bottom: 50px;
    }
    .ascii-container .text .command-help
    {
        padding: 0 4px;
    }

    
    .ascii-art
    {
        font-size: 2vw;
    }
    .terminal-container
    {
        font-size: 2vw;
    }

    #loading-screen 
    {
        margin-top: -50vh;
        margin-left: -25vw;
    }

    #progress-bar-container
    {
        width: 40%;
        margin-left: -35vw;

    }
    input
    {
        font-size: 2vw;
    }
    .about,.info
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: -36vw;
        margin-top: 0vw;
    }

    .info-text
    {
        margin-left: 5vw;
    }

    .about-text,.info-text
    {
        margin-top: 3vh;
    }
  

    .help p b 
    {
        padding: 3px 10px;
    }
    .projects
    {
        width: 70%;
    }

    .socials,
    .contact
    {
        width: 80%;
    }
    .socials .command-help,
    .contact .command-help
    {
        padding-right: 30px;
    }

}


@media only screen and (width:384px) , (height:640px) 
{
    ::-webkit-scrollbar
    {
        width: 0;
        height: 0;
    }
    .ascii-container
    {
        margin-left: -42vw;
    }
    .ascii-container .text
    {
        display: flex;
        margin-left: 15vw;
        font-size: 2vw;
        padding-bottom: 50px;
    }
    .ascii-container .text .command-help
    {
        padding: 0 4px;
    }

    
    .ascii-art
    {
        font-size: 2vw;
    }
    .terminal-container
    {
        font-size: 2vw;
    }

    #loading-screen 
    {
        margin-top: -50vh;
        margin-left: -25vw;
    }

    #progress-bar-container
    {
        width: 40%;
        margin-left: -35vw;

    }
    input
    {
        font-size: 2vw;
    }
    .about,.info
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: -36vw;
        margin-top: 0vw;
    }

    .info-text
    {
        margin-left: 5vw;
    }

    .about-text,.info-text
    {
        margin-top: 3vh;
    }
  

    .help p b 
    {
        padding: 3px 10px;
    }
    .projects
    {
        width: 70%;
    }

    .socials,
    .contact
    {
        width: 80%;
    }
    .socials .command-help,
    .contact .command-help
    {
        padding-right: 30px;
    }

}

@media only screen and (height:375px) , (width:812px) 
{
    .ascii-container
    {
        margin-left: -50vw;
    }
    .ascii-container .text
    {
        display: flex;
        margin-left: 15vw;
        font-size: 2vw;
        padding-bottom: 50px;
    }
    .ascii-container .text .command-help
    {
        padding: 0 4px;
    }

    
    .ascii-art
    {
        font-size: 2vw;
    }
    .terminal-container
    {
        font-size: 2vw;
    }

    #loading-screen 
    {
        margin-top: -50vh;
        margin-left: -25vw;
    }

    #progress-bar-container
    {
        width: 40%;
        margin-left: -35vw;

    }
    input
    {
        font-size: 2vw;
    }
    .about,
    .info
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: -36vw;
        margin-top: 0vw;
    }

    .info-text
    {
        margin-top: 3vh;
        margin-left: 5vw;
    }

    .about-text
    {
        margin-top: 3vh;
        width: 60%;
    }

    .help p b 
    {
        padding: 3px 10px;
    }
    .projects
    {
        width: 70%;
    }

    .socials,
    .contact
    {
        width: 80%;
    }
    .socials .command-help,
    .contact .command-help
    {
        padding-right: 30px;
    }

}

@media only screen and (width:375px) , (height:667px) 
{
    ::-webkit-scrollbar
    {
        width: 0;
        height: 0;
    }
    .ascii-container
    {
        margin-left: -42vw;
    }
    .ascii-container .text
    {
        display: flex;
        margin-left: 15vw;
        font-size: 2vw;
        padding-bottom: 50px;
    }
    .ascii-container .text .command-help
    {
        padding: 0 4px;
    }

    
    .ascii-art
    {
        font-size: 2vw;
    }
    .terminal-container
    {
        font-size: 2vw;
    }

    #loading-screen 
    {
        margin-top: -50vh;
        margin-left: -25vw;
    }

    #progress-bar-container
    {
        width: 40%;
        margin-left: -35vw;

    }
    input
    {
        font-size: 2vw;
    }
    .about,.info
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: -36vw;
        margin-top: 0vw;
    }

    .info-text
    {
        margin-left: 5vw;
    }

    .about-text,.info-text
    {
        margin-top: 3vh;
    }
  

    .help p b 
    {
        padding: 3px 10px;
    }
    .projects
    {
        width: 70%;
    }

    .socials,
    .contact
    {
        width: 80%;
    }
    .socials .command-help,
    .contact .command-help
    {
        padding-right: 30px;
    }

}
