@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P",sans-serif;
}

.main
{
    width: 100dvw;
    overflow: hidden;
}

.ascii-container .text
{
    display: flex;
    margin-left: 15vw;
    padding-bottom: 50px;
    width: 100vw;
    overflow: hidden;
}

::-webkit-scrollbar
{
    width: 0;
    height: 0;
}
  
html
{
    background: black;
    color: white;
}

.terminal-container
{
    margin-left: 5vh;
    font-size: 1.2vw;
    width: 90dvw;
    overflow: hidden;
}

.terminal-container #input-container
{
    display: flex;
    align-items: baseline;

}

#loading-screen 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#loading-screen p
{
    margin-left: -50vw;
}

#progress-bar-container {
    width: 70%;
    height: 60px;
    border: dashed 2px #f0f0f0;
    /* border-radius: 10px; */
}

#progress-bar {
    margin-top: 2px;
    margin-left: 2px;
    width: 0;
    height: 100%;
    background-color: #fff;
    /* border-radius: 10px; */
    animation: fill-progress 3s linear ; /* Adjust the duration as needed */
}

input
{
    padding-left: 10px;
    border: none;
    background: none;
    outline: none;
    background-color: black;
    color: white;
}

.unknown
{
    width: 80%;
    padding: 5% 5%;
}

input.blinking
{
    animation: blink 1s infinite;
}

.name
{
    color: #4399ea;
}

.separator
{
    color: #fff800;
}

.code
{
    color: #2cc5df;
}

.route
{
    color: #ffba00;
}


.input-container,
.prompt,
input
{
    animation: show 1.5s ease forwards;
}

.info-text
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25vh;
    width: 50%;
    margin-left: 23vw;
}

.about-text
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin-top: -30vh;
    margin-left: 23vw;
}

.about img,
.info img
{
    width: 20dvw;
}

.ascii-container
{
   display: absolute;
   padding-left: 20vh;
   overflow: hidden;
   width: 100dvw;
}

.ascii-art 
{
    font-family: monospace;
    white-space: pre;
    font-size: 1.3vw;
    width: 100dvw;
    overflow: hidden;
}

.command-help
{
    text-shadow: 0 0 5px #f0f0f0 
}

.socials,
.contact
{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.socials p,
.contact p
{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

i
{
    font-size: 2vw;
}

.bxl-github
{
    margin-right: -23.2vw;
}

.bxl-linkedin-square
{
    margin-right: -25vw;
}
.bxl-youtube
{
    margin-right: -24.5vw;
}

.help
{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

@keyframes fill-progress {
    0% 
    {
        width: 0%;
    }
    
    25% 
    {
        width: 25%;
    }

    40% 
    {
        width: 40%;
    }

    75% 
    {
        width: 75%;
    }

    100% 
    {
        width: 100%;
    }
}

@keyframes blink {
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}



/* Mobile */



@media screen and (max-width: 400px)
{
    #loading-screen 
    {
        margin-top: 0vh;
        margin-left: 0vw;
    }

    #loading-screen p
    {
        margin-left: 10vw;
    }

    #progress-bar-container
    {
        width: 40%;
        margin-left: 0vw;

    }
    .ascii-container
    {
        overflow: visible;
        margin-left: -35dvw;
        width: 110dvw;
    }

    .ascii-art
    {
        font-size: 7px;
        width: 100dvw;
    }
    .ascii-container .text
    {
        display: flex;
        margin-left: 15vw;
        padding-bottom: 50px;
        font-size: 7px;
    }
    .ascii-container .text .command-help
    {
        padding: 0 4px;
    }
    
    .terminal-container
    {
        margin-left: 3dvh;
        width: 100dvw;
        font-size: 8px;
    }

    .input-container
    {
        overflow: hidden;
    }
    .name, .separator, .code, .route
    {
        font-size: 8px;
    }

    input,
    #input
    {
        font-size: 8px;
    }

    .input-container .prompt
    {
        margin-left: 10px;
    }

    .about,
    .info
    {
        margin-top: 5dvh;
        margin-left: 0dvw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .about img
    {
        width: 55dvw;
    }

    .info img
    {
        /* padding-top: 10vh; */
        width: 55dvw;
    }
    .about-text
    {
        width: 80%;
        margin-top: 5dvh;
        margin-left: 10vw;
        line-height: 1.5;
    }
    .info-text
    {
        width: 80%;
        margin-top: 5dvh;
        margin-left: 10vw;
        line-height: 1.5;
    }
    
    .socials,
    .contact
    {
        width: 80%;
    }
}
